---
layout: default
---

<div class="home">
  {%- if page.title -%}
  <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- if site.posts.size > 0 -%}
  <h2 class="post-list-heading">
    {{ page.list_title | default: "Posts" }}
  </h2>

  <ul class="post-list">
    {%- for post in site.posts -%}
    <li>
      {%- assign primary_category = post.categories.first -%}

      {%- if primary_category == "image-processing" -%}
      <a class="post-category-badge badge-image-processing" href="{{ '/categories/#image-processing' | relative_url }}">
        Image Processing
      </a>

      {%- elsif primary_category == "medical-imaging"
      or primary_category == "dicom" -%}
      <a class="post-category-badge badge-pacs-dicom" href="{{ '/categories/#pacs-dicom' | relative_url }}">
        PACS / DICOM
      </a>

      {%- else -%}
      <a class="post-category-badge badge-default" href="{{ '/categories/' | relative_url }}">
        {{ primary_category | replace: "-", " " | capitalize }}
      </a>
      {%- endif -%}

      <h3>
        <a class="post-link" href="{{ post.url | relative_url }}">
          {{ post.title | escape }}
        </a>
      </h3>

      <span class="post-meta">
        {{ post.date | date: site.minima.date_format }}
      </span>

      {%- if site.show_excerpts -%}
      {{ post.excerpt }}
      {%- endif -%}
    </li>
    {%- endfor -%}
  </ul>

  <p class="rss-subscribe">
    Subscribe
    <a href="{{ '/feed.xml' | relative_url }}">via RSS</a>
  </p>
  {%- endif -%}
</div>
